.grid {
  display: grid;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: solid black;
}

.grid div {
  width: 20px;
  height: 20px;
}

.pac-dpt {
  background-color: aquamarine;
  border: 5px solid white;
  box-sizing: border-box;
}

.wall {
  background-color: blue;
}

.power-pallet {
  background-color: aquamarine;
  border-radius: 10px;
}
